html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 100vh;
  width: 100vw;
}

#etaBox {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 8px 12px;
  font-weight: bold;
  z-index: 1000;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
