html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#etaBox {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;
  pointer-events: auto;
}
